<!doctype html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Member</title>
</head>
<body>
    <h1>For Member</h1>

<!--    <div sec:authorize="hasRole('USER')">HAS USER ROLE</div>-->
<!--    <div sec:authorize="hasRole('MANAGER')">HAS MANAGER ROLE</div>-->
<!--    <div sec:authorize="hasRole('ADMIN')">HAS ADMIN ROLE</div>-->

<!--    <div sec:authorize="isAuthoenticated()">ONLY AUTHENTICATED USER CAN SEE THIS TEXT</div>-->

<!--    Authenticated username :-->
<!--    <div sec:authentication="name"></div>-->
<!--    Authenticated user roles:-->
<!--    <div sec:authentication="principal.authorities"></div>-->
</body>
</html>